.navbar{
  top: 0;
  position: fixed;
  background-color: greenyellow;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 70px;
  text-align: center;
}

.navbarText{
  color: whitesmoke;
  font-size: 50px;
  margin-right: 25px;
  position: center;
}

/* Button */
.navbarButton{
  position: left;
  size: 500px;
  padding: 15px 32px;
  justify-content: flex-end;
  align-items: right;
}
