

.App {
  width: 100vw;
  display: flex;
  background-image: url(./images/picture.jpg);
  background-attachment: fixed;
  background-size: cover;
}

  .about {
    height:700px;
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}  

.aboutIn {
border-style: solid;
border-width: 4px;
border-color: rgb(255, 200, 0);
margin-right: 25px;
padding: 10px;
color:rgb(255, 200, 0);
width: 418.27px;
background-color: rgb(93, 0, 255);
}

.navbar {
  background-color: rgb(93, 0, 255);
  height: 70px;
  width: 100vw;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: right;
  align-items: center;
  z-index: 1;
}

.navbarText {
  color: rgb(255 , 200 , 0);
  margin-right: 25px;
  position: fixed;
}

.footer {
  background-color:rgb(93, 0, 255);
  height: 40px;
  width: 100vw;
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
}

.footerLink {
  color: rgb(255, 255, 255);
  margin-left: 5px;
}

.sideBar {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: rgba(93, 0, 255, 0.299);
  width: 150px;
  color: black;
  margin-right: auto;
}

.homeLink {
  margin-top: 100px;
  color: rgb(255 , 200 , 0);
  font-weight: bold;
  margin-left: 5px;
  position: fixed;
}

.aboutLink {
  margin-top: 150px;
  color: rgb(255 , 200 , 0);
  margin-left: 5px;
  font-weight: bold;
  position: fixed;
} 

.addLink {
  margin-top: 150px;
  color: white;
  margin-left: 5px;
  font-weight: bold;
  position: fixed;
}

.listElement {
  display: flex;
  border-style: solid;
  border-width: 4px;
  border-color: rgb(255 , 200 , 0);
  width: 600px;
  margin: 30px;
  background-color: rgb(93, 0, 255);
}

.deleteBtn {
  width: 600px;
  background-color: rgb(255, 0, 0);
  position: sticky;
  justify-content: center;
  border-radius: 0;
  border-color: rgb(255, 200 ,0);
  color:aliceblue;
}

.foodList {
  margin-top: 80px;
  color: rgb(255 , 200 , 0);
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
}

.OopsBox {
  color:black;
  padding-top: 40vw;
  padding-bottom: 40vw;
}

.yesBox {
  height:700px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-right: 25px; */
}

.yesBut {
  display: flex;
  color: rgb(255 , 200 , 0);
  padding-right: 25px;
  padding-left: 25px;
  background-color: rgb(93, 0, 255);
  justify-content: center;
  font-size: 56.320px;
  font-weight: bold;
}

.form {
  display: flex;
  border: solid 3px ;
  border-color: rgb(255 , 200 , 0);
  width: 555px;
}  

.addButton {
  background-color: red;
  color:white
}